   * {
       text-decoration: none;
   }

   form {
       width: 500px;
       margin: 50px auto;
   }

   .search {
       padding: 8px 15px;
       border: 0px solid #dbdbdb;
   }

   .button {
       position: relative;
       padding: 7px 15px;
       left: -8px;
       border: 2px solid #207cca;
       background-color: #207cca;
       color: #fafafa;
   }

   .button:hover {
       background-color: #fafafa;
       color: #207cca;
   }

   body {
       background-color: #41B3FF;
       font-family: 'helvetica', 'verdana', sans-serif;
       font-size: 16px;
       padding-top: 40px;
   }

   h1,
   p {
       text-align: center;
       color: #fff;
       margin: 0 auto;
       max-width: 700px;
   }

   .search-result {
       //* margin: 0 auto; *//
       max-width: 100%
   }

   #container {
       text-align: center;
   }

   #container3 {
       background: whitesmoke;
       width: 100%;
   }

   #results {
       margin-top: 20px;
       display: flex;
   }

   img {
       height: 150px;
       width: 250px;
       display: inline-block;
   }

   pre {
       display: -ms-inline-grid;
   }

   .vidDisc {
       font-size: x-small;
       /* background: lightgray; */
       width: 250px;
   }

   .items {
       border-left-width: thin;
       border-left-style: outset;
   }

   .title {
       width: 250px;
       font-size: larger;
       text-align: center;
   }

   a {
       text-decoration: black;
   }